.main {
	max-width:800px;
	margin:auto;
}

.timeUnitContainer {
	display:none;
	margin:15px;
}

.addEventContainer {
	display:none;
	margin:15px;
}

textarea {
	align-self:center;
	display:flex;
	white-space:pre-wrap;
	width:auto;
}

td {
	text-align:center;
}

.btn-primary {
	align-self:center;
	display:flex;
	width:45%;
}
